/* Phần dành cho trang đăng ký */
/* <!--Huynh Gia Han - B2205341 --> */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: url(../Image/home-bg.jpg) no-repeat center center/cover;
}


.about_signup {
  width: 100%;
  max-width: 31.25rem;
  margin: 2.5rem auto 6.25rem;
  background-color: #ffffff;
  padding: 3.125rem 2.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  /* font-family: Arial, sans-serif; */
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.05);
}

.signup__title {
  margin-top: 3rem;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.25rem;
  color: #111;
  text-align: center;
}

.signup__form--login {
  display: flex;
  flex-direction: column;
}

.signup__form--login label {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.188rem;
  color: #111;
}

.signup__input {
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #a6a6a6;
  border-radius: 0.25rem;
  margin-bottom: 1.25rem;
  outline: none;
}

.signup__input:focus {
  border-color: #e77600;
  box-shadow: 0 0 3px 2px rgba(228, 121, 17, 0.5);
}

.signup__checkbox--group {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  margin: 0.625rem 0 1.25rem;
  font-size: 0.938rem;
}

.signup__checkbox--group label {
  font-weight: normal;
  color: #333;
}

.signup__button {
  background-color: #f0c14b;
  border: 1px solid #a88734;
  border-radius: 0.25rem;
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 0.625rem;
}

.signup__button:hover {
  background-color: #e2b33c;
}

.signup__link {
  font-size: 0.938rem;
  margin-top: 1.563rem;
  text-align: center;
}

.signup__link a {
  color: #0066c0;
  text-decoration: none;
}

.signup__link a:hover {
  text-decoration: underline;
}

.password-wrapper {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
  font-size: 1.125rem;
}

.sigup__required {
  color: red;
  font-weight: bold;
}
