/*-- B2303769_Nguyễn Minh Ngọc --*/
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Danh cho trang gioi thieu */

.about__main {
    /*gc muc 1*/
    display: grid;
    grid-template-areas: "intro" "content" "news";
    width: 100%;
    background-color: #e8f5e9;
}

/*Phan gioi thieu*/
.about__div1 {
    grid-template-areas: intro; /*gi cua muc I*/

    display: flex; /*fc muc I*/
    position: relative;
    overflow: hidden;
    background-image: url(../Image/about/about-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 40vh;
    z-index: 0;
}

.overlay {
    /*fi cua I va fc cua I.1 /*---Lop phu mo---*/
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex; /*fc cua I.1*/
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-align: center;
    z-index: 1;
}

.about__intro {
    /*fi cua I.1*/
    color: #ffffff;
    justify-content: center;
    text-align: center;

    flex-direction: column;
    z-index: 2;
    animation: intro 2s linear;
}

.about__intro h1,
.about__div3--title {
    /* font-family: "Montserrat Alternates", sans-serif; */
    font-weight: 700;
    text-transform: uppercase;
}

.about__intro h1 {
    font-size: 3.2rem;
}

.about__intro h3 {
    /* font-family: "Be Vietnam Pro", sans-serif; */
    font-weight: 600;
    font-size: 1.4rem;
}

.about__intro a {
    display: inline-block;
    border: 3px solid #ffffff;
    background-color: rgba(0, 0, 0, 0.2);
    color: #ffffff;
    border-radius: 1.4rem;
    padding: 0.3rem 2.5rem;
    margin: 1.1rem 25rem 0 25rem;
    font-size: 1.1rem;
    text-transform: uppercase;
    cursor: pointer;
    animation: intro_link 2s linear;
    text-decoration: none;
}

.about__intro a:hover {
    color: #81ecec;
    border-color: #81ecec;
    background-color: #2d3436;
}

/*Phan content*/
.about__div2 {
    /*gi cua I va gc cua I.2*/
    grid-area: content;

    display: grid; /*gc cua I.2*/
    grid-template-areas: "about-div2-mission-vision" "about-div2-values";

    margin: 3.75rem 3.2rem 0 3.2rem;
    color: #1b5e20;
    line-height: 1.4;
    text-align: justify;
    text-justify: inter-word;
}

.about__div2--mission--vision {
    /*gi cua I.2 va gc cua I.2.1*/
    grid-area: about-div2-mission-vision;

    display: grid;
    grid-template-areas: "about-div2-mission" "about-div2-vision"; /*gc cua I.2.1*/

    border-radius: 0.313rem;
    border: 1px solid #c0cfcd;
    background-color: #4caf4f20;
    margin-bottom: 1.3rem;
}

.about__div2 h3 {
    /* font-family: "Be Vietnam Pro", sans-serif; */
    text-transform: uppercase;
    font-size: 2.2rem;
}

.about__div2 p {
    /* font-family: "Montserrat Alternates", sans-serif; */
    font-size: 1.2rem;
}

.about__div2-mission {
    /*gi cua I.2.1*/
    grid-area: about-div2-mission;
}

.about__div2-vision {
    /*gi cua I.2.1*/
    grid-area: about-div2-vision;
    flex-direction: row-reverse;
}

.about__div2-values {
    /*gi cua I.2 va gc cua I.2.1*/
    grid-area: about-div2-values;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto auto auto;

    border-radius: 0.313rem;
    border: 1px solid #c0cfcd;
    background-color: #4caf4f20;
    padding: 1.75rem 2rem 2rem 2rem;
}

.about__div2-mission,
.about__div2-vision {
    display: flex;
    gap: 2.2rem;
}

.about__mission--title {
    margin: 2rem 0 1rem 6.25rem;
}

.about__vision--title {
    margin: 2rem 6.25rem 1rem 0;
}

.about__mission--text {
    margin: 2rem 6.25rem 0 0;
}

.about__vision--text {
    margin: 2rem 0 0 3.75rem;
}

.about__values--title {
    /*gi cua I.2.1*/
    grid-column: 1 / -1;
    text-align: center;
}

.about__values-item {
    /*gi cua I.2.1*/
    text-align: center;
    margin: 0.625rem 1.25rem;
    justify-content: space-around;
}

.about__values-item:hover {
    outline: none;
    transform: translateY(-5px) scale(1.03);
    color: #fa8072;
}

.item-1 {
    grid-column: 1 / span 2;
    grid-row: 2;
    text-align: center;
}

.item-2 {
    grid-column: 3 / span 2;
    grid-row: 2;
    text-align: center;
}

.item-3 {
    grid-column: 5 / span 2;
    grid-row: 2;
    text-align: center;
}

.item-4 {
    grid-column: 1 / span 3;
    grid-row: 3;
    text-align: center;
}

.item-5 {
    grid-column: 4 / span 3;
    grid-row: 3;
    text-align: center;
}

.about__values--subtitle {
    font-size: 1.5rem;
}

.about__values--text {
    font-size: 1rem;
}

/*Phan news*/
.about__div3 {
    /*gi cua I va gc cua I.3*/
    grid-area: news;

    display: grid; /*gc cua I.3 - nested grid I.3*/
    grid-template-areas: "about-div3-title" "about-div3-content" "about-div3-feedback" "contact"; /*grid chia thanh 4 vung, co dang 4 hang, 1 cot*/
}

.about__div3 {
    position: relative;
    overflow: hidden;
    background-color: #4caf4f20;
    color: #1b5e20;
    box-sizing: border-box;
    border: 1px solid #c0cfcd;
    border-radius: 0.313rem;
    margin: 1.3rem 3.2rem 3.75rem 3.2rem;
}

.about__div3--title {
    /*gi cua I.3*/
    grid-area: about-div3-title;
    font-size: 2.8rem;
    text-align: center;
    padding-top: 1.4rem;
}

.about__container {
    /*gi cua I.3*/
    grid-area: about-div3-content;

    display: flex; /*fc cua I.3*/
    position: relative;
    margin: auto;
    box-sizing: border-box;
    justify-content: center;
}

.about__feedback {
    /*gi cua I.3*/
    grid-area: about-div3-feedback;
}

.contact__main {
    /*gi cua I.3*/
    grid-area: contact;
}

.about__container--news,
.about__feedback {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.about__container--news h2,
.about__feedback h2 {
    /* font-family: "Be Vietnam Pro", sans-serif; */
    padding: 1rem;
    font-size: 1.8rem;
    text-align: center;
}

.about__container--news img {
    width: 60%;
}

.about__container--news p,
.about__feedback p {
    /* font-family: "Montserrat Alternates", sans-serif; */
    font-size: 1rem;
    padding-bottom: 1rem;
    align-items: center;
    text-align: justify;
    margin: auto 3.5rem;
    line-height: 1.4;
}

/* Next & previous buttons */
.prev,
.next {
    position: absolute;
    cursor: pointer;
    top: 50%;
    width: auto;
    padding: 1rem;
    margin-top: -22px;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2rem;
    transition: 0.6s ease;
    border-radius: 0 0.2rem 0.2rem 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 0.2rem 0 0 0.2rem;
}

.prev {
    left: 0;
    border-radius: 0.2rem 0 0 0.2rem;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

/*news buton*/
.about__news-link,
.about__feelback-link {
    display: inline-block;
    border: 0.125rem solid #1b5e20;
    color: #1b5e20;
    border-radius: 1.25rem;
    padding: 0.3rem 2.5rem;
    margin-top: 1.1rem;
    margin-bottom: 1.1rem;
    align-self: center;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
}

.about__news-link:hover,
.about__feelback-link:hover {
    color: #fa8072;
    border: 3px solid #fa8072;
    text-transform: uppercase;
}

/*hiệu ứng chuyển động*/
@keyframes intro {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes intro_link {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
