/* Hứa Yến Nhi  B2305599 */
/* tour du lịch */
.tour__list {
  margin-top: 0px;
  padding: 1.25rem 1.25rem;
  background-color: #e8f5e9;
  text-align: left;
}

.tour__title {
  font-size: 2.25rem;
  margin-bottom: 1.25rem;
  margin-top: 0px;
  color: #006400;
  font-weight: bold;
  text-align: center;
}

/* tour section */
.tour__info {
  margin-bottom: 1rem;
}

.tour__section {
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.tour__favorite--button,.tour__section--button {
  font-size: 1rem;
  border: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #006400;
  color: #fff;
  border-radius: 1rem;
  transition: ease 0.2s;
  text-decoration: none;
  cursor: pointer;
}

.tour__favorite--button:hover,.tour__section--button:hover {
  box-shadow: 0 8px 8px rgba(160, 160, 160, 0.2);
  background-color: #009700;
}

.tour__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;
}


.tour__item {
  background-color: #f5f5f5;
  border: 0.5rem solid white;
  padding: 1.5rem;
  border-radius: 1.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
}

.tour__item:hover {
  transform: translateY(-6px);
}


.tour__item img {
  width: 100%;
  height: 11.25rem;
  object-fit: cover;
  display: block;
  border-radius: 0.75rem;
  margin-bottom: 1rem;
  border: 3px solid #054d1a;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* đổ bóng nhẹ */
}

.tour__item h2 {
  font-size: 1.375rem;
  color: #161614;
  margin-bottom: 0.75rem;
  text-align: center;
  line-height: 1;
  min-height: calc(1em * 2);
}

.tour__desc {
  font-size: 0.938rem;
  color: #444;
  line-height: 1.6;
}

.tour__price {
  background-color: goldenrod; /* đỏ rượu vang */
  color: #aa2d2d; /* vàng ánh kim */
  padding: 0.625rem 1rem;
  border-radius: 62.438rem;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0.75rem 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  border: 0.188rem solid #daa520;
  text-align: center;
}

.tour__details {
  list-style: disc;
  padding-left: 1.25rem;
  margin: 0;
}

.tour__details li {
  font-size: 1.125rem;
  margin-bottom: 0.375rem;
  line-height: 1.4;
}

@media (max-width: 62em) {
  .tour__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 37.5em) {
  .tour__grid {
    grid-template-columns: 1fr;
  }
}

#cart {
  background-color: #ffffff;
  border: 2px solid #006400;
  border-radius: 0.75rem;
  padding: 1rem;
  margin-top: 4.375rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#cart-list li {
  margin-bottom: 0.625rem;
}

#cart input[type="number"] {
  width: 3.125rem;
  margin: 0 0.5rem;
}

#cart button {
  margin-top: 0.5rem;
  background-color: rgb(12, 77, 52);
  color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}

#cart h3 {
  color: #006400;
}

.cart-icon {
  width: 1.438rem; /* Kích thước ảnh */
  height: auto;
  display: block;
  margin-bottom: 12px; /* Căn giữa và cách dưới một chút */
}
